archive/**
NaturalDocs/**
!NaturalDocs/Comments.txt
!NaturalDocs/Languages.txt
!NaturalDocs/Project.txt
AddinFiles/Docs/**
!AddinFiles/Docs/Docs.txt
TestAddinHome/**
/Tests/Results/**
*.jmpaddin
*.zip
AddinFilesTempForBuild/**
build/.last_addin
build/buildConfig.local.ps1
Tests/testConfig.local.jsl
temp-*
!NaturalDocs/custom.css
